body{
    background-color: #F9EFF1;
}

h1{
    text-align:center;
    color: #cc0066;
    font-size: 300%;
}

h2{
    text-align:center;
    color: #cc0066;
    font-size: 1.2erm;
}

h3{
    text-align:center;
    color: #cc0066;
    font-size: 300%;
}

.button__wrapper{
    text-align: center;
}

.button__wrapper_r{
    text-align: right;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--color,
a.btn--color {
  color: #fff;
  background-color: #F08AC1;
}

a.btn--radius {
   border-radius: 100vh;
}

.centering_parent {
    padding: 20px;              /* 余白指定 */   /* 背景色指定 */
    height: 100px;              /* 高さ指定 */
    text-align:  center;        /* 中央寄せ */
}

.centering_item {
    margin:  5px;               /* 外側の余白 */
}

div:active {
  color : black;
}
