<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>index_page</title>
    <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}"/>
    <script src="https://kit.fontawesome.com/fac6df6d72.js" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
    <h1>質問アプリ</h1>
    <h2>～聞きにくい質問もアプリにお任せ～</h2>
    <div class="button__wrapper">
        <a class="btn btn--color btn--radius" onclick="location.href='./get_question'">START <i class="fa-solid fa-chevron-right"></i></a>
    </div>
</body>
</html>